# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.env/
.venv/
env/
venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# PyCharm / VSCode / IDE configs
.idea/
.vscode/

# Test cache
.pytest_cache/

# Optional coverage reports
htmlcov/
.coverage
coverage.xml

# PyPI token / credentials (if you ever save them here accidentally)
.pypirc

# MacOS and system files
.DS_Store
Thumbs.db
